configuration {
  show-icons:         true;
  cycle:              true;
  sidebar-mode:       false;
  modi:               "drun,run,window,emoji";
  disable-history:    false;
  display-drun:       "😈";
  display-run:        "Run";
  display-window:     "Running Apps";
  icon-theme: "Papirus";
}
@import "~/.config/rofi/themes/slate.rasi"
